<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17091467962-cv2emcs3dts2io9ha9b2sirpqe6bk5dv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17091467962-cv2emcs3dts2io9ha9b2sirpqe6bk5dv</string>
	<key>API_KEY</key>
	<string>AIzaSyAWIyo8ivywMFcwmJcAvGW7wT5K9oYvEEY</string>
	<key>GCM_SENDER_ID</key>
	<string>17091467962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahsailabs.portfolio</string>
	<key>PROJECT_ID</key>
	<string>portfolio-7ee13</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-7ee13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17091467962:ios:0dc8406421fadb15268083</string>
</dict>
</plist>